<mat-card>

    <mat-action-list>

        <div mat-subheader>Menu</div>
        <button mat-list-item style="display: flex; align-items: center;" routerLink="/admin"><mat-icon fontIcon="home" style="margin-right: 8px;"></mat-icon><span style="font-size: 16px; font-weight: 500;">Home</span>   </button>
        <button mat-list-item style="display: flex; align-items: center;" routerLink="/admin/profile"><mat-icon fontIcon="account_circle" style="margin-right: 8px;"></mat-icon><span style="font-size: 16px; font-weight: 500;">Profile</span>   </button>
        <button mat-list-item style="display: flex; align-items: center;" routerLink="/admin/categories"><mat-icon fontIcon="category" style="margin-right: 8px;"></mat-icon><span style="font-size: 16px; font-weight: 500;">Categories</span>   </button>
        <button mat-list-item style="display: flex; align-items: center;" routerLink="/admin/addcategory"><mat-icon fontIcon="add_circle_outline_category" style="margin-right: 8px;"></mat-icon><span style="font-size: 16px; font-weight: 500;">Add Categories</span>   </button>
        <button mat-list-item style="display: flex; align-items: center;"routerLink="/admin/quizzes"><mat-icon fontIcon="quiz" style="margin-right: 8px;"></mat-icon><span style="font-size: 16px; font-weight: 500;">Quizes</span>   </button>
        <button mat-list-item style="display: flex; align-items: center;"routerLink="/admin/add-quiz"><mat-icon fontIcon="add_quiz" style="margin-right: 8px;"></mat-icon><span style="font-size: 16px; font-weight: 500;">Add Quiz</span>   </button>
        <button mat-list-item style="display: flex; align-items: center;"><mat-icon fontIcon="logout" style="margin-right: 8px;"></mat-icon><span style="font-size: 16px; font-weight: 500;">Logout</span>   </button>
                
    </mat-action-list>

</mat-card>     